.Lineup{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
@media (max-width:450px) {
    .Lineup{
        width: 98%;

    }
}