body {
  margin: 0;
  padding:0;
  margin:0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}
body h1{
  font-family: "Teko", sans-serif;
  font-size: 3em;
  margin: 0;
}
html, body, #root{
 
  height: 100%;
  background-color: #f7f6e3;
  background-image: url(../src/imgs/Background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
